#{extends 'admin.html' /}
<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.js"></script>

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
            $('.carousel').carousel();
            $('.carousel div :first-child').addClass('active');
        });
        function changeType(divID) {
            $(divID).hide();
        }
        function getSrc(src0) {
            var img0 = new Image();
            img0.src = src0;

            var imgRes = new Image();

            var width = img0.naturalWidth;
            var height = img0.naturalHeight;
            var minDim = Math.min(width, height);
            imgRes.style.width = minDim;
            imgRes.style.height = minDim;

            return imgRes.src;

        }
    </script>
    <style>
        .alignleft {
            float: left;
        }

        .alignright {
            float: right;
        }
    </style>

</head>

#{set title:'Расписание' /}
<body>

<div class="container">
#{if !user.getReadyRelations().isEmpty()}
    <h2 class="row" style="text-align: center">Ваши запланированные встречи</h2>
    <hr>
#{/if}
#{else}
    <h2 class="row" style="text-align: center">Нет запланированных встреч в данный момент</h2>
    <hr>
#{/else}
    <ul class="list-group">
    #{list items:user.getReadyRelations(), as:'relation'}
        <div class="col-md-12 col-lg-6">
            <div class="panel ${relation.panelClass(user.id)}">
                <div class="panel-heading">

                    <p class="alignleft"><b>${relation.getAnother(user.id).firstname}</b>
                        , ${relation.getAnother(user.id).getAge()}</p>

                    <form id="deleteRelation${relation.id}" action="@{Admin.deleteRelation()}" method="POST">
                        <input type="hidden" name="relationID" id="relationID" value="${relation.id}">

                        <div class="alignright">
                            <a class="btn" style="padding: 0px">
                    <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"
                          onclick="$('#deleteRelation${relation.id}').submit();"></span>
                            </a>
                        </div>
                    </form>

                    <br>
                </div>
                <div class="panel-body">
                *{TODO уникальность id каруселей}*
                    <div id="carousel${relation.getAnother(user.id).id}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox" *{style="max-height: 40vh"}*>
                            #{list items:relation.getAnother(user.id).pics, as:'picture'}
                                <div class="item">
                                *{<div style="width: 1000px;    height: 1000px;    overflow: hidden;    margin: 10px;    position: relative;">}*
                                    <img class="img-responsive center-block" src="@{Admin.getPicture(picture.id)}"
                                         style="max-height: 500px;">
                                *{</div>}*
                                </div>
                            #{/list}
                        </div>

                        #{if relation.getAnother(user.id).pics.size() > 1}
                            <a class="left carousel-control" href="#carousel${relation.getAnother(user.id).id}"
                               role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel${relation.getAnother(user.id).id}"
                               role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        #{/if}

                    </div>


                    <hr>
                    <form action="@{Admin.changeRelation()}" method="POST">

                        <input type="hidden" name="relationID" id="relationID" value="${relation.id}" required>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label for="place">Место <span style="color: red; ">*</span></label>
                                <select class="form-control" id="place" name="place"
                                        required  ${relation.inputType(user.id)}>
                                    <option>${relation.place}</option>
                                    #{list items:user.city.places, as:'place'}
                                        <option value="${place.name}">${place.name}</option>
                                    #{/list}
                                </select>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="time">Время <span style="color: red; ">*</span></label>
                                <input type="time" class="form-control" id="time" name="time" value="${relation.time}"
                                       required ${relation.inputType(user.id)}>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label for="date">День<span style="color: red; ">*</span></label>
                                <input type="date" class="form-control" id="date" name="date"
                                       value="${relation.getStringDate()}"
                                       required ${relation.inputType(user.id)}>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <input type="submit" name="send"
                                       class="btn ${relation.btnClass(user.id)} col-md-12 col-xs-12"
                                       value="${relation.btnMessage(user.id)}" ${relation.inputType(user.id)}
                                       style="margin-top: 2.5rem;"/>
                            </div>
                        </div>
                    </form>
                    <form action="@{Admin.acceptRelation()}" method="POST">

                        <input type="hidden" name="relationID" id="relationID" value="${relation.id}" required>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <br>
                                <input id="accept" type="${relation.btnAcceptType(user.id)}"
                                       class="btn btn-success col-md-12 col-xs-12"
                                       value="Принимаю условия" }
                                        />
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    *{<li class="list-group-item">${relation.getAnother(user.id)}</li>}*
    #{/list}
    </ul>
</div>


</body>