#{extends 'admin.html' /}

#{set title:'Профиль' /}
<head>
    <script src="@{'/public/javascripts/bootstrap.file-input.js'}" type="text/javascript"
            charset="${_response_encoding}">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: false
            });
            $('#carousel_profile div :first-child').addClass('active');
        });

    </script>
    <style>
        .carousel-control.bottom {
            right: auto;
            left: 43%;
            top: 85%;
        }
    </style>

</head>
<body>


*{<ul>}*
*{#{list items:user.pics, as:'picture'}}*
*{<img src="@{Admin.getPicture(picture.id)}" class="img-thumbnail" width="304" height="236"}*
*{style="max-height: 400px; max-width: 400px"/></li>}*
*{#{/list}}*
*{</ul>}*

<div class="container">
    <h1 class="row" style="text-align: center">Профиль</h1>
    <hr>
    #{if !user.pics.isEmpty()}
    <div id="carousel_profile" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
        #{list items:user.pics, as:'picture'}
            <div class="item">

                <img class="img-responsive center-block" src="@{Admin.getPicture(picture.id)}"
                     style="max-height: 500px;width: auto; height: auto;">

                <form id="deleteDay" action="@{Admin.deletePicture()}" method="POST">
                    <input type="hidden" name="picID" id="picID" value="${picture.id}">
                    <a class="bottom carousel-control" href="#carousel_profile" role="button">

                    <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"
                          onclick="$('#deleteDay').submit();"></span>
                    </a>
                </form>
            </div>
        #{/list}
        </div>

        #{if user.pics.size() > 1}
        <a class="left carousel-control" href="#carousel_profile" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel_profile" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        #{/if}
    </div>
        <hr>
    #{/if}
    #{else}
        <div class="alert alert-warning col-md-10 col-md-offset-1" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Warning:</span>
            На вашем профиле нет ни одной фотографии. Ваш профиль не будет предлагаться другим пользователям.
        </div>
    #{/else}

*{#{form @Admin.uploadPicture(), enctype:'multipart/form-data'}}*
    <form id="image_upload" action="@{Admin.uploadPicture()}" method="post" enctype="multipart/form-data">
        <input id="fileInput" type="file" name="picture.image" style="display: none"/>
        <input id="fileSubmit" type="submit" name="submit" value="Save" style="display: none"/>
    </form>
*{#{/form}}*
    <script>
        function imageUpload(fileInputId, fileSubmitId) {
            var imageInputForm = $('#' + fileInputId);
            imageInputForm.click();
            imageInputForm.change(function () {
                $('#' + fileSubmitId).click();
            });
        }
        ;
    </script>

</div>
<div class="row">
    <button class="btn btn-success btn-lg col-md-2 col-sm-4 col-xs-6 col-md-offset-5 col-sm-offset-4 col-xs-offset-3"
            onclick="imageUpload('fileInput','fileSubmit');"> <span
            class="glyphicon glyphicon-save" aria-hidden="true"></span> Добавить фото
    </button>
</div>


<div class="container">
    <div class="row">
        <div style="padding: 50px" class="">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Логин</div>
                            <div class="panel-body">
                            ${user.nickname}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Имя</div>
                            <div class="panel-body">
                            ${user.firstname}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Дата рождения</div>
                            <div class="panel-body">
                            ${user.getDate()}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Город</div>
                            <div class="panel-body">
                            ${user.city.name}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>