#{extends 'main.html' /}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.js"></script>
    <script src="@{'/public/javascripts/bootstrap-formhelpers.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script>
        $('.datepicker').datepicker()
    </script>
</head>
#{set title:'Регистрация' /}

<div class="container">
    <h1 class="row col-xs-offset-2 col-md-offset-4">Регистрация</h1>
    <hr>
    <div class="row">
        <form id="userForm" action="@{Application.addUser()}" method="POST" style="padding: 50px" class="col-md-offset-2">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        <label for="email">Email адрес <span style="color: red; ">*</span></label>
                        <input type="email" class="form-control" id="email" name="email"
                               required>
                    </div>
                    <div class="col-md-5">
                        <label for="nname">Логин <span style="color: red; ">*</span></label>
                        <input type="text" class="form-control" id="nname" name="nname"
                               required>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-5">
                        <label for="phone">Телефон <span style="color: red; ">*</span></label>
                        <input type="text"  class="form-control bfh-phone" data-format="+7 (ddd) ddd-dddd" id="phone" name="phone"
                               required>
                    </div>
                    <div class="col-md-5">
                        <label for="fname">Имя</label>
                        <input type="text" class="form-control" id="fname" name="fname"
                               required>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-5">
                        <label for="gender">Пол <span style="color: red; ">*</span></label>
                        <div id="gender" class="row">
                            <div class="radio col-md-6" style="margin: 1% 0">
                                <label><input type="radio" name="gender" id="gender" value="true">Мужчина</label>
                            </div>
                            <div class="radio col-md-6" style="margin: 1% 0">
                                <label><input type="radio" name="gender" id="gender" value="false">Женщина</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="secondGender">Ищу <span style="color: red; ">*</span></label>
                        <div id="secondGender" class="row">
                            <div class="radio col-md-6" style="margin: 1% 0">
                                <label><input type="radio" name="secondGender" id="secondGender" value="true">Мужчину</label>
                            </div>
                            <div class="radio col-md-6" style="margin: 1% 0">
                                <label><input type="radio" name="secondGender" id="secondGender" value="false">Женщину</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row">

                    <div class="col-md-5">
                        <label for="bdate">Дата Рождения <span style="color: red; ">*</span></label>

                        <div class="form-group" id="dateform">
                            <div></div>
                            <input type="hidden" name="bdate" id="bdate">
                        </div>
                    </div>
                    <script>
                        $('#dateform div').datepicker({
                            format: "dd/mm/yyyy",
                            endDate: "1/09/2003",
                            startView: 2,
                            clearBtn: true,
                            language: "ru",
                            autoclose: false
                        }).on('changeDate', function (e) {
                            $('#bdate').val(e.format('dd/mm/yyyy'))
                        });
                    </script>
                    <div class="col-md-5">
                        <label for="city">Город <span style="color: red; ">*</span></label>
                        <input type="text" class="form-control" id="city" name="city"
                               required>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-5">
                        <label for="password1">Пароль <span style="color: red; ">*</span></label>
                        <input type="password" class="form-control" id="password1" name="password1" autocomplete="off"
                               required>
                    </div>
                    <div class="col-md-5">
                        <label for="password2">Повтор пароля <span style="color: red; ">*</span></label>
                        <input type="password" class="form-control" id="password2" name="password2" autocomplete="off"
                               required>
                    </div>
                </div>
            </div>

            <p>

            *{<label for="code">Введите код с картинки: </label>}*
        *{<br/>}*
    *{<p id="captchaWarning" style="color:#c00; display: none;">Вы ввели код неверно</p>}*
    *{<img id="captchaIMG" src="@{Application.captcha(randomID)}"/>}*
    *{<br/>}*
    *{<input id="captchaCode"  type="text" name="code"size="18" value="" autocomplete="off" required/>}*
    *{<input id="captchaID" type="hidden" name="randomID" value="${randomID}"/>}*
    *{</p>}*

            <div class="span7 text-center row">

                <input type="submit" class="btn btn-success btn-lg col-md-3" value="Отправить" style="margin-left: 56.5%"/>
            </div>

            <script>
                $('#bdate').datepicker({
                    format: "dd/mm/yyyy",
                    endDate: "1/09/2003",
                    startView: 2,
                    clearBtn: true,
                    language: "ru",
                    autoclose: true
                });
            </script>
        </form>
    </div>
</div>