<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
        *{<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-datepicker.css'}">}*
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-2.1.4.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        *{<script src="@{'/public/javascripts/bootstrap-datepicker.js'}" type="text/javascript"}*
                *{charset="${_response_encoding}"></script>}*
        #{get 'moreScripts' /}
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@{Application.index()}">
                    <img src="public/images/brand.png" alt="Easy Love" style="height: 30px; margin: -5px">
                </a>
                *{<a class="navbar-brand" href="@{Application.index()}">Home</a>}*
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="@{Application.about()}"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span>  О нас </a></li>
                    <li><a href="http://vk.com/easyloveofficial"><span class="glyphicon glyphicon-stats"></span>  Мы Вконтакте</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@{Secure.login()}">  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Войти</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    #{list items:warnings, as:'warning'}
    <div class="alert alert-warning col-md-10 col-md-offset-1" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
    ${warning.text}
    </div>
    #{/list}

        #{doLayout /}
    </body>
</html>
